	<!-- ================== start Header ================== -->
    <%- include('../layouts/header.ejs') %>
	<!-- ================== end header ================== -->
	
  <!-- BEGIN #app -->
  <div id="app" class="app">
   
    	<!-- ================== start navbar ================== -->
        <%- include('../layouts/navbar.ejs') %>
        <!-- ================== start navbar ================== -->
        
	<!-- ================== start sidebar ================== -->
    <%- include('../layouts/sidebar.ejs') %>
	<!-- ================== start sidebar ================== -->
	

    <!-- BEGIN mobile-sidebar-backdrop -->
    <button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>
    <!-- END mobile-sidebar-backdrop -->

    <!-- BEGIN #content -->
    <div id="content" class="app-content">
      <div class="d-lg-flex align-items-end mb-4">
        <h3 class="page-header mb-lg-0">
          Dashboard
          <small class="d-block fs-12px mt-1">Monitor key performance metrics for online store</small>
        </h3>
        <div class="ms-auto">
          <a href="#" class="btn fw-semibold fs-13px btn-secondary me-2" id="daterange-filter"><i class="fa fa-calendar fa-fw me-md-1 opacity-5"></i> <span>27 Jan 2023 - 02 Feb 2023</span> <b class="caret ms-3"></b></a>
          <a href="#" class="btn fw-semibold fs-13px btn-theme"><i class="fa fa-upload fa-fw me-md-1 opacity-5"></i> <span class="d-none d-sm-inline">Export report</span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <!-- BEGIN card -->
          <div class="card bg-size-cover mb-3 border-dark" data-bs-theme="dark" style="background-image: url(assets/img/bg/pattern.jpg);">
            <!-- BEGIN card-body -->
            <div class="card-body">
              <div class="mb-3 fw-semibold d-flex align-items-center">
                <div class="flex-fill">Total Clients</div>
                <div>
                  <a href="#" data-bs-toggle="dropdown" class="text-body"><i class="bi bi-three-dots-vertical"></i></a>
                  <div class="dropdown-menu dropdown-menu-end" data-bs-theme="light">
                    <a href="#" class="dropdown-item">View full report</a>
                    <a href="#" class="dropdown-item">Reload</a>
                    <a href="#" class="dropdown-item">Export Data</a>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-lg-12 position-relative">
                  <h3 class="mb-0">$52,382</h3>
                  <div class="fs-13px mt-2"><span class="badge text-bg-theme py-5px me-1">+30%</span> compare to last week</div>
                  <i class="fab fa-cc-visa display-6 lh-1 mt-n2 me-3 position-absolute end-0 top-0"></i>
                </div>
              </div>
              <div class="mt-3 fs-11px">
                <div>last updated on</div>
                <div class="fw-600">Feb 3, 4:09:57 AM UTC</div>
              </div>
            </div>
            <!-- END card-body -->
          </div>
          <!-- END card -->
        </div>
        <div class="col-xl-3 col-lg-6">
          <!-- BEGIN card -->
          <div class="card mb-3">
            <!-- BEGIN card-body -->
            <div class="card-body">
              <div class="mb-3 fw-semibold d-flex align-items-center">
                <div class="flex-fill">Active Clients</div>
                <div>
                  <a href="#" data-bs-toggle="dropdown" class="text-body"><i class="bi bi-three-dots-vertical"></i></a>
                  <div class="dropdown-menu dropdown-menu-end" data-bs-theme="light">
                    <a href="#" class="dropdown-item">View full report</a>
                    <a href="#" class="dropdown-item">Reload</a>
                    <a href="#" class="dropdown-item">Export Data</a>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-lg-12 position-relative">
                  <h3 class="mb-0 d-flex">
                    302
                    <span class="text-body fs-10px badge bg-body my-5px d-flex align-items-center ms-2">
                      <i class="fa fa-exclamation-circle fa-fw fa-lg me-1 text-warning"></i>
                      3 pending orders
                    </span>
                  </h3>
                  <div class="fs-13px mt-2"><span class="badge bg-theme-subtle text-theme py-5px me-1">+12%</span> compare to last week</div>
                  <i class="bi bi-box-seam display-6 lh-1 mt-n2 text-body text-opacity-20 me-3 position-absolute end-0 top-0"></i>
                </div>
              </div>
              <div class="mt-3 fs-11px">
                <div class="text-body text-opacity-50">last updated on</div>
                <div class="fw-600 text-body text-opacity-75">Feb 3, 4:09:57 AM UTC</div>
              </div>
            </div>
            <!-- END card-body -->
          </div>
          <!-- END card -->
        </div>
        <div class="col-xl-3 col-lg-6">
          <!-- BEGIN card -->
          <div class="card mb-3">
            <!-- BEGIN card-body -->
            <div class="card-body">
              <div class="mb-3 fw-semibold d-flex align-items-center">
                <div class="flex-fill">Non Active</div>
                <div>
                  <a href="#" data-bs-toggle="dropdown" class="text-body"><i class="bi bi-three-dots-vertical"></i></a>
                  <div class="dropdown-menu dropdown-menu-end" data-bs-theme="light">
                    <a href="#" class="dropdown-item">View full report</a>
                    <a href="#" class="dropdown-item">Reload</a>
                    <a href="#" class="dropdown-item">Export Data</a>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-lg-12 position-relative">
                  <h3>1,958</h3>
                  <div class="fs-13px"><span class="badge bg-danger-subtle text-danger py-5px me-1">-5.6%</span> compare to last week</div>
                  <i class="bi bi-person-add display-6 lh-1 mt-n2 text-body text-opacity-20 me-3 position-absolute end-0 top-0"></i>
                </div>
              </div>
              <div class="mt-3 fs-11px">
                <div class="text-body text-opacity-50">last updated on</div>
                <div class="fw-600 text-body text-opacity-75">Feb 3, 4:09:57 AM UTC</div>
              </div>
            </div>
            <!-- END card-body -->
          </div>
          <!-- END card -->
        </div>
        <div class="col-xl-3 col-lg-6">
          <!-- BEGIN card -->
          <div class="card mb-3">
            <!-- BEGIN card-body -->
            <div class="card-body">
              <div class="mb-3 fw-semibold d-flex align-items-center">
                <div class="flex-fill">Unpaid Clients</div>
                <div>
                  <a href="#" data-bs-toggle="dropdown" class="text-body"><i class="bi bi-three-dots-vertical"></i></a>
                  <div class="dropdown-menu dropdown-menu-end" data-bs-theme="light">
                    <a href="#" class="dropdown-item">View full report</a>
                    <a href="#" class="dropdown-item">Reload</a>
                    <a href="#" class="dropdown-item">Export Data</a>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-lg-12 position-relative">
                  <h3>91</h3>
                  <div class="fs-13px mt-2"><span class="badge bg-muted bg-opacity-10 py-5px text-gray-300 me-1">+0%</span> compare to last week</div>
                  <i class="bi bi-shop display-6 lh-1 mt-n2 text-body text-opacity-20 me-3 position-absolute end-0 top-0"></i>
                </div>
              </div>
              <div class="mt-3 fs-11px">
                <div class="text-body text-opacity-50">last updated on</div>
                <div class="fw-600 text-body text-opacity-75">Feb 3, 4:09:57 AM UTC</div>
              </div>
            </div>
            <!-- END card-body -->
          </div>
          <!-- END card -->
        </div>
        <div class="col-xl-6">
          <!-- BEGIN card -->
          <div class="card mb-3">
            <!-- BEGIN card-body -->
            <div class="card-body">
              <div class="mb-3 fw-semibold d-flex align-items-center">
                <div class="flex-fill">Total Visitors</div>
                <div>
                  <a href="#" data-bs-toggle="dropdown" class="text-body"><i class="bi bi-three-dots-vertical"></i></a>
                  <div class="dropdown-menu dropdown-menu-end" data-bs-theme="light">
                    <a href="#" class="dropdown-item">View full report</a>
                    <a href="#" class="dropdown-item">Reload</a>
                    <a href="#" class="dropdown-item">Export Data</a>
                  </div>
                </div>
              </div>
              <div class="mb-3 position-relative">
                <div class="h3 d-flex">
                  <div>183,210</div>
                  <span class="badge bg-theme-subtle text-theme fs-14px d-flex align-items-center ms-3 fw-semibold my-2px">
                    <i class="fa fa-arrow-up me-1"></i> 10.49k
                  </span>
                </div>
                <div class="fs-13px mt-2"><span class="badge bg-theme-subtle text-theme py-5px me-1">-12.23%</span> compare to last week</div>
              </div>
              <hr class="opacity-1">
              <div class="d-flex flex-wrap mb-2">
                <a href="#" class="btn btn-outline-secondary me-2 btn-sm active">1D</a>
                <a href="#" class="btn btn-outline-secondary me-2 btn-sm">5D</a>
                <a href="#" class="btn btn-outline-secondary me-2 btn-sm">1M</a>
                <a href="#" class="btn btn-outline-secondary me-2 btn-sm">6M</a>
                <a href="#" class="btn btn-outline-secondary me-2 btn-sm">6M</a>
                <a href="#" class="btn btn-outline-secondary me-2 btn-sm">YTD</a>
                <a href="#" class="btn btn-outline-secondary me-2 btn-sm">1Y</a>
                <a href="#" class="btn btn-outline-secondary me-2 btn-sm">5Y</a>
                <a href="#" class="btn btn-outline-secondary me-2 btn-sm">MAX</a>
              </div>
              <div class="mx-n3 h-300px mb-3">
                <div id="chart" class="w-100"></div>
              </div>
              <div class="table-responsive">
                <table class="w-100 small mb-0 text-truncate text-body text-opacity-75">
                  <thead>
                    <tr>
                      <th class="w-50 pe-2">Browser</th>
                      <th class="w-25 pe-2">Users</th>
                      <th class="w-25 pe-2">% Users</th>
                      <th class="w-25 pe-2">Bounce Rate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-body fw-semibold">
                      <td class="pe-2">
                        <div class="d-flex">
                          <span class="w-20px">1.</span> Chrome
                        </div>
                      </td>
                      <td class="pe-2">1,392</td>
                      <td class="pe-2">71.31%</td>
                      <td class="pe-2">36.99%</td>
                    </tr>
                    <tr class="text-body text-opacity-75 fw-semibold">
                      <td class="pe-2">
                        <div class="d-flex">
                          <span class="w-20px">2.</span> Firefox
                        </div>
                      </td>
                      <td class="pe-2">220</td>
                      <td class="pe-2">11.27%</td>
                      <td class="pe-2">42.11%</td>
                    </tr>
                    <tr>
                      <td class="pe-2">
                        <div class="d-flex">
                          <span class="w-20px">3.</span> Edge
                        </div>
                      </td>
                      <td class="pe-2">147</td>
                      <td class="pe-2">7.53%</td>
                      <td class="pe-2">43.79%</td>
                    </tr>
                    <tr>
                      <td class="pe-2">
                        <div class="d-flex">
                          <span class="w-20px">4.</span> Safari
                        </div>
                      </td>
                      <td class="pe-2">98</td>
                      <td class="pe-2">5.02%</td>
                      <td class="pe-2">32.98%</td>
                    </tr>
                    <tr>
                      <td class="pe-2">
                        <div class="d-flex">
                          <span class="w-20px">5.</span> Opera
                        </div>
                      </td>
                      <td class="pe-2">39</td>
                      <td class="pe-2">2.00%</td>
                      <td class="pe-2">36.10%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- END card-body -->
          </div>
          <!-- END card -->
        </div>
        <div class="col-xl-6">
          <!-- BEGIN card -->
          <div class="card mb-3">
            <!-- BEGIN card-body -->
            <div class="card-body">
              <div class="mb-3 fw-semibold d-flex align-items-center">
                <div class="flex-fill">Visitors by Region</div>
                <div>
                  <a href="#" data-bs-toggle="dropdown" class="text-body"><i class="bi bi-three-dots-vertical"></i></a>
                  <div class="dropdown-menu dropdown-menu-end" data-bs-theme="light">
                    <a href="#" class="dropdown-item">View full report</a>
                    <a href="#" class="dropdown-item">Reload</a>
                    <a href="#" class="dropdown-item">Export Data</a>
                  </div>
                </div>
              </div>
              <div class="mb-3 position-relative">
                <div class="h3 d-flex">
                  <div>1.38m</div>
                  <span class="badge text-danger bg-danger-subtle fs-14px d-flex align-items-center ms-3 fw-semibold my-2px">
                    <i class="fa fa-arrow-down me-1"></i> 102k
                  </span>
                </div>
                <div class="fs-13px mt-2"><span class="badge text-danger bg-danger-subtle py-5px me-1">+4.51%</span> compare to last week</div>
              </div>
              <hr class="opacity-1">
              <div class="d-flex flex-wrap mb-2">
                <a href="#" class="btn btn-outline-secondary me-2 btn-pill btn-sm active">Country</a>
                <a href="#" class="btn btn-outline-secondary me-2 btn-sm">City</a>
                <a href="#" class="btn btn-outline-secondary me-2 btn-sm">Continent</a>
                <a href="#" class="btn btn-outline-secondary me-2 btn-sm">Sub Continent</a>
              </div>
              <div id="map" class="h-300px mb-3"></div>
              <div class="table-responsive">
                <table class="w-100 small mb-0 text-truncate text-body text-opacity-50">
                  <thead>
                    <tr class="text-body text-opacity-75">
                      <th class="w-50 pe-2">Country</th>
                      <th class="w-25 pe-2">Users</th>
                      <th class="w-25 pe-2">Sessions</th>
                      <th class="w-25 pe-2">Bounce Rate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-body fw-semibold">
                      <td class="pe-2">
                        <div class="d-flex">
                          <span class="w-20px">1.</span> United Kingdom
                        </div>
                      </td>
                      <td class="pe-2">228(11.62%)</td>
                      <td class="pe-2">460(13.57%)</td>
                      <td class="pe-2">36.09%</td>
                    </tr>
                    <tr class="text-body text-opacity-75 fw-semibold">
                      <td class="pe-2">
                        <div class="d-flex">
                          <span class="w-20px">2.</span> United States
                        </div>
                      </td>
                      <td class="pe-2">178(9.07%)</td>
                      <td class="pe-2">256(7.55%)</td>
                      <td class="pe-2">42.97%</td>
                    </tr>
                    <tr>
                      <td class="pe-2">
                        <div class="d-flex">
                          <span class="w-20px">3.</span> China
                        </div>
                      </td>
                      <td class="pe-2">162(8.26%)</td>
                      <td class="pe-2">293(8.64%)</td>
                      <td class="pe-2">37.20%</td>
                    </tr>
                    <tr>
                      <td class="pe-2">
                        <div class="d-flex">
                          <span class="w-20px">4.</span> Indonesia
                        </div>
                      </td>
                      <td class="pe-2">102(5.20%)</td>
                      <td class="pe-2">199(5.87%)</td>
                      <td class="pe-2">37.19%</td>
                    </tr>
                    <tr>
                      <td class="pe-2">
                        <div class="d-flex">
                          <span class="w-20px">5.</span> Brazil
                        </div>
                      </td>
                      <td class="pe-2">97(4.94%)</td>
                      <td class="pe-2">213(6.28%)</td>
                      <td class="pe-2">36.15%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- END card-body -->
          </div>
          <!-- END card -->
        </div>
        <div class="col-xl-6 pb-3">
          <!-- BEGIN card -->
          <div class="card mb-3">
            <!-- BEGIN card-body -->
            <div class="card-body">
              <div class="mb-3 fw-semibold d-flex align-items-center">
                <div class="flex-fill">Product Ranking</div>
                <div>
                  <a href="#" data-bs-toggle="dropdown" class="text-body"><i class="bi bi-three-dots-vertical"></i></a>
                  <div class="dropdown-menu dropdown-menu-end" data-bs-theme="light">
                    <a href="#" class="dropdown-item">View full report</a>
                    <a href="#" class="dropdown-item">Reload</a>
                    <a href="#" class="dropdown-item">Export Data</a>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <div class="w-80px p-2 rounded bg-body">
                  <div class="ratio ratio-4x3">
                    <div class="d-flex align-items-center justify-content-center">
                      <img alt="" class="mw-100 mh-100" src="assets/img/product/product-1-thumb.png">
                    </div>
                  </div>
                </div>
                <div class="flex-fill ps-3">
                  <div class="h6 lh-base mb-0">iPhone 14 Pro Max</div>
                  <div class="text-muted small mb-2">Apple</div>
                  <div class="d-flex align-items-center small">
                    <span>$1,399</span>
                    <span class="fs-11px text-body text-opacity-20 mx-2">|</span>
                    <span class="text-body text-opacity-50 me-1 fs-12px">stock: </span>
                    <span>382</span>
                  </div>
                </div>
                <div class="text-body fw-bold text-end fs-5">
                  1,083
                  <div class="fs-13px text-body text-opacity-50 fw-semibold lh-1">sold</div>
                </div>
              </div>
              <hr class="opacity-1">
              <div class="d-flex">
                <div class="w-80px p-2 rounded bg-body">
                  <div class="ratio ratio-4x3">
                    <div class="d-flex align-items-center justify-content-center">
                      <img alt="" class="mw-100 mh-100" src="assets/img/product/product-2-thumb.png">
                    </div>
                  </div>
                </div>
                <div class="flex-fill ps-3">
                  <div class="h6 lh-base mb-0">OnePlus 10 Pro</div>
                  <div class="text-muted small mb-2">OnePlus</div>
                  <div class="d-flex align-items-center small">
                    <span>$589</span>
                    <span class="fs-11px text-body text-opacity-20 mx-2">|</span>
                    <span class="text-body text-opacity-50 me-1 fs-12px">stock: </span>
                    <span>87</span>
                  </div>
                </div>
                <div class="text-body fw-bold text-end fs-5">
                  738
                  <div class="fs-13px text-body text-opacity-50 fw-semibold lh-1">sold</div>
                </div>
              </div>
              <hr class="opacity-1">
              <div class="d-flex">
                <div class="w-80px p-2 rounded bg-body">
                  <div class="ratio ratio-4x3">
                    <div class="d-flex align-items-center justify-content-center">
                      <img alt="" class="mw-100 mh-100" src="assets/img/product/product-3-thumb.png">
                    </div>
                  </div>
                </div>
                <div class="flex-fill ps-3">
                  <div class="h6 lh-base mb-0">Galaxy s23 Ultra</div>
                  <div class="text-muted small mb-2">Samsung</div>
                  <div class="d-flex align-items-center small">
                    <span>$1,199</span>
                    <span class="fs-11px text-body text-opacity-20 mx-2">|</span>
                    <span class="text-body text-opacity-50 me-1 fs-12px">stock: </span>
                    <span>80</span>
                  </div>
                </div>
                <div class="text-body fw-bold text-end fs-5">
                  738
                  <div class="fs-13px text-body text-opacity-50 fw-semibold lh-1">sold</div>
                </div>
              </div>
              <hr class="opacity-1">
              <div class="d-flex">
                <div class="w-80px p-2 rounded bg-body">
                  <div class="ratio ratio-4x3">
                    <div class="d-flex align-items-center justify-content-center">
                      <img alt="" class="mw-100 mh-100" src="assets/img/product/product-4-thumb.png">
                    </div>
                  </div>
                </div>
                <div class="flex-fill ps-3">
                  <div class="h6 lh-base mb-0">Pixel 7 Pro</div>
                  <div class="text-muted small mb-2">Google</div>
                  <div class="d-flex align-items-center small">
                    <span>$749</span>
                    <span class="fs-11px text-body text-opacity-20 mx-2">|</span>
                    <span class="text-body text-opacity-50 me-1 fs-12px">stock: </span>
                    <span>65</span>
                  </div>
                </div>
                <div class="text-body fw-bold text-end fs-5">
                  642
                  <div class="fs-13px text-body text-opacity-50 fw-semibold lh-1">sold</div>
                </div>
              </div>
              <hr class="opacity-1">
              <div class="d-flex">
                <div class="w-80px p-2 rounded bg-body">
                  <div class="ratio ratio-4x3">
                    <div class="d-flex align-items-center justify-content-center">
                      <img alt="" class="mw-100 mh-100" src="assets/img/product/product-5-thumb.png">
                    </div>
                  </div>
                </div>
                <div class="flex-fill ps-3">
                  <div class="h6 lh-base mb-0">Mate 50 Pro</div>
                  <div class="text-muted small mb-2">Huawei</div>
                  <div class="d-flex align-items-center small">
                    <span>$1,650</span>
                    <span class="fs-11px text-body text-opacity-20 mx-2">|</span>
                    <span class="text-body text-opacity-50 me-1 fs-12px">stock: </span>
                    <span>128</span>
                  </div>
                </div>
                <div class="text-body text-end fw-bold fs-5">
                  567
                  <div class="fs-13px text-body text-opacity-50 fw-semibold lh-1">sold</div>
                </div>
              </div>
            </div>
            <!-- END card-body -->
          </div>
          <!-- END card -->
        </div>
        <div class="col-xl-6 pb-3">
          <!-- BEGIN card -->
          <div class="card mb-3">
            <!-- BEGIN card-body -->
            <div class="card-body">
              <div class="mb-3 fw-semibold d-flex align-items-center">
                <div class="flex-fill">Activity Log</div>
                <div>
                  <a href="#" data-bs-toggle="dropdown" class="text-body"><i class="bi bi-three-dots-vertical"></i></a>
                  <div class="dropdown-menu dropdown-menu-end" data-bs-theme="light">
                    <a href="#" class="dropdown-item">View full report</a>
                    <a href="#" class="dropdown-item">Reload</a>
                    <a href="#" class="dropdown-item">Export Data</a>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div>
                  <div class="w-40px h-40px fs-20px my-n1 rounded-pill d-flex align-items-center justify-content-center bg-theme-subtle text-theme">
                    <i class="bi bi-key-fill"></i>
                  </div>
                </div>
                <div class="flex-1 px-3">
                  <h6 class="mb-0 fw-semibold">admin logged in.</h6>
                  <div class="text-muted small">just now</div>
                </div>
                <div class="fs-20px">
                  <a href="#" class="text-body text-opacity-30"><i class="bi bi-search"></i></a>
                </div>
              </div>
              <hr class="opacity-1">
              <div class="d-flex align-items-center">
                <div>
                  <div class="w-40px h-40px fs-20px rounded-pill d-flex align-items-center justify-content-center bg-body text-body">
                    <i class="bi bi-clock-history"></i>
                  </div>
                </div>
                <div class="flex-1 px-3">
                  <h6 class="mb-0 fw-semibold">admin initiated a backup of the system.</h6>
                  <div class="text-muted small">5 minutes ago </div>
                </div>
                <div class="fs-20px">
                  <a href="#" class="text-body text-opacity-30"><i class="bi bi-search"></i></a>
                </div>
              </div>
              <hr class="opacity-1">
              <div class="d-flex align-items-center">
                <div>
                  <div class="w-40px h-40px fs-20px rounded-pill d-flex align-items-center justify-content-center bg-body text-body">
                    <i class="bi bi-person"></i>
                  </div>
                </div>
                <div class="flex-1 px-3">
                  <h6 class="mb-0 fw-semibold">admin created a new user account for john_doe.</h6>
                  <div class="text-muted small">10 minutes ago </div>
                </div>
                <div class="fs-20px">
                  <a href="#" class="text-body text-opacity-30"><i class="bi bi-search"></i></a>
                </div>
              </div>
              <hr class="opacity-1">
              <div class="d-flex align-items-center">
                <div>
                  <div class="w-40px h-40px fs-20px rounded-pill d-flex align-items-center justify-content-center bg-body text-body">
                    <i class="bi bi-receipt"></i>
                  </div>
                </div>
                <div class="flex-1 px-3">
                  <h6 class="mb-0 fw-semibold">admin updated Jane Doe's billing module access.</h6>
                  <div class="text-muted small">15 minutes ago </div>
                </div>
                <div class="fs-20px">
                  <a href="#" class="text-body text-opacity-30"><i class="bi bi-search"></i></a>
                </div>
              </div>
              <hr class="opacity-1">
              <div class="d-flex align-items-center">
                <div>
                  <div class="w-40px h-40px fs-20px rounded-pill d-flex align-items-center justify-content-center bg-body text-body">
                    <i class="bi bi-arrow-clockwise"></i>
                  </div>
                </div>
                <div class="flex-1 px-3">
                  <h6 class="mb-0 fw-semibold">admin reset password for jim_smith.</h6>
                  <div class="text-muted small">20 minutes ago </div>
                </div>
                <div class="fs-20px">
                  <a href="#" class="text-body text-opacity-30"><i class="bi bi-search"></i></a>
                </div>
              </div>
              <hr class="opacity-1">
              <div class="d-flex align-items-center">
                <div>
                  <div class="w-40px h-40px fs-20px rounded-pill d-flex align-items-center justify-content-center bg-theme-subtle text-theme">
                    <i class="bi bi-database-fill"></i>
                  </div>
                </div>
                <div class="flex-1 px-3">
                  <h6 class="mb-0 fw-semibold">admin performed maintenance on the database server.</h6>
                  <div class="text-muted small">25 minutes ago </div>
                </div>
                <div class="fs-20px">
                  <a href="#" class="text-body text-opacity-30"><i class="bi bi-search"></i></a>
                </div>
              </div>
              <hr class="opacity-1">
              <div class="d-flex align-items-center">
                <div>
                  <div class="w-40px h-40px fs-20px rounded-pill d-flex align-items-center justify-content-center bg-body text-body">
                    <i class="bi bi-list-ol"></i>
                  </div>
                </div>
                <div class="flex-1 px-3">
                  <h6 class="mb-0 fw-semibold">admin reviewed the audit log for any unusual activity.</h6>
                  <div class="text-muted small">30 minutes ago </div>
                </div>
                <div class="fs-20px">
                  <a href="#" class="text-body text-opacity-30"><i class="bi bi-search"></i></a>
                </div>
              </div>
            </div>
            <!-- END card-body -->
          </div>
          <!-- END card -->
        </div>
      </div>
    </div>
    <!-- END #content -->

    <!-- BEGIN theme-panel -->
    <div class="app-theme-panel">
      <div class="app-theme-panel-container">
        <a href="javascript:;" data-toggle="theme-panel-expand" class="app-theme-toggle-btn"><i class="bi bi-sliders"></i></a>
        <div class="app-theme-panel-content">
          <div class="fw-bold text-body mb-2">
            Theme Color
          </div>
          <div class="app-theme-list">
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-pink" data-theme-class="theme-pink" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Pink"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-red" data-theme-class="theme-red" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Red"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-warning" data-theme-class="theme-warning" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Orange"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-yellow" data-theme-class="theme-yellow" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Yellow"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-lime" data-theme-class="theme-lime" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Lime"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-green" data-theme-class="theme-green" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Green"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-teal" data-theme-class="theme-teal" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Teal"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-info" data-theme-class="theme-info" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Cyan"></a></div>
            <div class="app-theme-list-item active"><a href="javascript:;" class="app-theme-list-link bg-primary" data-theme-class="" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Default"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-purple" data-theme-class="theme-purple" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Purple"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-indigo" data-theme-class="theme-indigo" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Indigo"></a></div>
            <div class="app-theme-list-item"><a href="javascript:;" class="app-theme-list-link bg-gray-200" data-theme-class="theme-gray-500" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Gray"></a></div>
          </div>
          <hr class="opacity-1">
          <div class="row mt-10px">
            <div class="col-8">
              <div class="fw-bold text-body d-flex mb-1 align-items-center">
                Dark Mode
                <i class="bi bi-moon-fill ms-2 my-n1 fs-5 text-body text-opacity-25"></i>
              </div>
              <div class="lh-sm">
                <small class="text-body opacity-50">Adjust the appearance to reduce glare and give your eyes a break.</small>
              </div>
            </div>
            <div class="col-4 d-flex">
              <div class="form-check form-switch ms-auto mb-0">
                <input type="checkbox" class="form-check-input" name="app-theme-dark-mode" data-toggle="theme-dark-mode" id="appThemeDarkMode" value="1">
                <label class="form-check-label" for="appThemeDarkMode"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END theme-panel -->
    <!-- BEGIN btn-scroll-top -->
    <a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
    <!-- END btn-scroll-top -->
  </div>
  <!-- END #app -->

  <!-- ================== Footer ================== -->
  <%- include('../layouts/footer.ejs') %>
  <!-- ================== Footer ================== -->