<div id="sidebar" class="app-sidebar">
  <!-- BEGIN scrollbar -->
  <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
    <!-- BEGIN menu -->
    <div class="menu">
      <div class="menu-profile">
        <a
          href="javascript:;"
          class="menu-profile-link"
          data-bs-toggle="dropdown"
        >
          <div class="menu-profile-cover with-shadow"></div>
          <div class="menu-profile-image">
            <img class="" src="/images/oncloud-logo.png " style="width: 230px; border-radius: 0;" alt="" />
          </div><br><br>
          <div class="menu-profile-info">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1 fw-bold">Admin</div>
              <div class="ms-auto"><i class="fa fa-chevron-down"></i></div>
            </div>
            <small>addfd</small>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end me-lg-3 mt-1 w-200px">
          <a
            class="dropdown-item d-flex align-items-center"
            href="/adminProfile"
            ><i class="far fa-user fa-fw fa-lg me-3"></i> Profile</a
          >
          <a
            class="dropdown-item d-flex align-items-center"
            href="email_inbox.html"
            ><i class="far fa-envelope fa-fw fa-lg me-3"></i> Inbox</a
          >
          <a
            class="dropdown-item d-flex align-items-center"
            href="calendar.html"
            ><i class="far fa-calendar fa-fw fa-lg me-3"></i> Calendar</a
          >
          <a
            class="dropdown-item d-flex align-items-center"
            href="settings.html"
            ><i class="fa fa-sliders fa-fw fa-lg me-3"></i> Settings</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item d-flex align-items-center" href="/logout"
            ><i class="fa fa-arrow-right-from-bracket fa-fw fa-lg me-3"></i>
            Logout</a
          >
        </div>
      </div>
      <div class="menu-header">Navigation</div>
      <div class="menu-item active">
        <a href="/dashboard" class="menu-link">
          <span class="menu-icon"><i class="fa fa-qrcode"></i></span>
          <span class="menu-text">Dashboard</span>
        </a>
      </div>


      <!-- teacher -->
     


      <div class="menu-item has-sub">
        <a href="#" class="menu-link">
            <span class="menu-icon">
              <i class="fa fa-users"></i>
            </span>
            <span class="menu-text">Clients</span>
            <span class="menu-caret"><b class="caret"></b></span>
        </a>
        <div class="menu-submenu">
            <div class="menu-item">
                <a href="/showClients" class="menu-link">
                    <span class="menu-text">All Clients</span>
                </a>
            </div>

            <div class="menu-item">
              <a href="/activeClients" class="menu-link">
                  <span class="menu-text">Active Clients</span>
              </a>
          </div>

            <div class="menu-item">
              <a href="/expiredClients" class="menu-link">
                  <span class="menu-text">Expired Clients</span>
              </a>
          </div>

          <div class="menu-item">
            <a href="/expiredSoonClients" class="menu-link">
                <span class="menu-text">Expired Soon Clients</span>
            </a>
        </div>

          

        </div>
    </div>   


      <!-- plan -->
       <div class="menu-item">
        <a href="/showPlans" class="menu-link">
          <span class="menu-icon"><i class="fa fa-list"></i></span>
          <span class="menu-text">Plans</span>
        </a>
      </div>

      <div class="menu-item">
        <a href="/showTemplates" class="menu-link">
          <span class="menu-icon"><i class="fa fa-clipboard"></i></span>
          <span class="menu-text">Template</span>
        </a>
      </div>

    </div>
    <!-- END menu -->
    <div class="p-3 mt-auto">
      <a
        href="/logout"
        class="btn d-block btn-theme fs-13px fw-semibold rounded-pill"
      >
        <i class="fa fa-arrow-left opacity-5"></i> Logout
      </a>
    </div>
  </div>
  <!-- END scrollbar -->
</div>
